.install > div        { display:none; }
.install:target > div { display:block; }

.contentContainer dl {
  margin:0 0 20px;
  }
a[name] {
  display:block;
  position:relative;
  top:-80px;
  z-index:-1;
  }

ul.inheritance {
  list-style:none;
  border-left:4px solid #ddd;
  margin:0 0 20px 0;
  padding-left:10px;
  }
  ul.inheritance ul       { margin-left:20px; }
  ul.inheritance ul ul    { margin-left:40px; }
  ul.inheritance ul ul ul { margin-left:60px; }

caption {
  text-align:left;
  }
